<h1>You fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === 'rusty'){ %>
    <p>GOOD CHOICE! Rusty is the best.</p>
<% } else { %>
    <p>Bad choice! You should have said Rusty!</p>
<% } %>
<p>This is the love.ejs file</p>

<!-- Different types of tags -->
<!-- <%= %> Will be rendered and added to the HTML -->
<!-- <% %> Just for control flow / logic, not for displaying / adding to HTML -->
